<div>
  <div class="fin-form-title">Memos Mappings</div>

  <!--<form class="fin-form" #thisForm="ngForm">

    <div class="form-group col-lg-10">
      <text-field [(text)]="model.filterStructure"
                  (textChange)="searchAsYouType()"
                  [label]="'Structure'"
                  [tip]="'Structure'"></text-field>
    </div>

  </form>-->

  <div *ngIf="model.mappings.length == 0">
    <span class="fin-no-items-found">No mappings found.</span>
  </div>

   <div>
    <table class="table table-responsive table-striped">
      <thead>
        <tr *ngIf="model.mappings.length > 0">
          <th scope="col"></th>
          <th scope="col">Incoming Memo</th>
          <th scope="col">Mapped Memo</th>
          <th scope="col">Mapped Account</th>
          <th scope="col">Mapped Result Center</th>
          <th scope="col">Id</th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let mapping of model.mappings; index as i" [ngClass]="{'bg-danger': mapping.status?.error}">
          <td>
            <button type="submit" class="btn fin-toolbar-button" title="Delete"
                    (click)="delete(mapping, i)">
              <img src="assets/delete_24px.svg">
            </button>
          </td>
          <td>
            <text-field [(text)]="mapping.incomingMemo"
                        (blur)="saveIfValid(mapping)"
                        [tip]="'Structure'"
                        [required]="true"></text-field>
          </td>
          <td>
            <text-field [(text)]="mapping.mappedMemo"
                        (blur)="saveIfValid(mapping)"
                        [tip]="'Description'"
                        [required]="false"></text-field>
          </td>
          <td>
            <smart-search-field [(model)]="mapping.mappedAccount"
                                (modelChange)="saveIfValid(mapping)"
                                [targetService]="'Account'"
                                [tip]="'Account'"
                                [required]="false"
                                [ignitionMinChars]="1"></smart-search-field>
          </td>
          <td>
            <smart-search-field [(model)]="mapping.mappedCenter"
                                (modelChange)="saveIfValid(mapping)"
                                [targetService]="'ResultCenter'"
                                [tip]="'Result Center'"
                                [required]="false"
                                [ignitionMinChars]="1"></smart-search-field>
          </td>
          <td>{{mapping.autoId}}</td>
          <td>
            <img src="assets/info_24px.svg"
                 [title]="mapping|json">
            <img *ngIf="mapping.status && mapping.status.error"
                 src="assets/error_24px.svg"
                 [title]="mapping.status.msg">
            <img *ngIf="mapping.status && !mapping.status.error && mapping.status.msg && mapping.status.msg != ''"
                 src="assets/success_24px.svg"
                 [title]="mapping.status.msg">
          </td>
        </tr>
        <tr class="bg-dark text-white">
          <td colspan="7">
            <button type="submit" class="btn fin-toolbar-button" title="New Mapping"
                    (click)="createNew()">
              <img src="assets/new_24px.svg">
            </button>
            <button type="submit" class="btn fin-toolbar-button" title="Sort"
                    (click)="sort()">
              <img src="assets/sort_24px.svg">
            </button>
            <button type="submit" class="btn fin-toolbar-button" title="Refresh Search"
                    (click)="search()">
              <img src="assets/refresh_24px.svg">
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

</div>
