<div>
	<div class="formTitle">Search Accounts</div>

	<div class="formFieldsArea">
		<span class="formGroupLabel">Filters</span>

		<form name="formFilters" ng-submit="$ctrl.search()">
			<div layout="column" ng-show="$ctrl.visibleFilters">

				<md-input-container md-no-float style="max-width: 8em" class="hide-error-msg">
					<label>Structure</label>
					<input ng-model="$ctrl.model.FilterStructure" type="text" placeholder="type here..." />
				</md-input-container>

				<md-input-container md-no-float style="max-width: 20em" class="hide-error-msg">
					<label>Description</label>
					<input ng-model="$ctrl.model.FilterDescription" type="text" id="FilterDescription" placeholder="type here..." />
				</md-input-container>

			</div>

			<div layout="row">
				<md-button ng-click="$ctrl.search()" ng-disabled="formFilters.$invalid">
					<md-icon md-svg-icon="iconSearch"></md-icon>
					Pesquisar
				</md-button>

				<md-button ng-href="#!/conta">
					<md-icon md-svg-icon="iconNew"></md-icon>
					Novo
				</md-button>

				<md-button ng-click="$ctrl.hideFilters()" ng-show="$ctrl.visibleFilters">
					<md-icon md-svg-icon="iconHide"></md-icon>
					Ocultar Filtros
				</md-button>

				<md-button ng-click="$ctrl.showFilters()" ng-show="!$ctrl.visibleFilters">
					<md-icon md-svg-icon="iconShow"></md-icon>
					Exibir Filtros
				</md-button>

			</div>
		</form>
	</div>

	<div class="formFieldsArea" ng-show="$ctrl.model.Accounts.length == 0" layout="column">
		No item was found.
	</div>

	<div class="formFieldsArea" ng-show="$ctrl.model.Accounts.length > 0" layout="column">

		<div layout="row" layout-align="space-between">
			<md-button ng-click="$ctrl.previousPage()" ng-disabled="$ctrl.model.SearchPage < 1">
				<md-icon md-svg-icon="iconPagePrevious" aria-label=""></md-icon>
			</md-button>

			<div layout="column" layout-align="center space-between">
				<span class="formFieldLabel">Search Result</span>
				<span class="formFieldLabel">Showing {{$ctrl.model.Accounts.length}} found items.</span>
				<span class="formFieldLabel">Page {{$ctrl.model.SearchPage + 1}}</span>
			</div>

			<md-button ng-click="$ctrl.nextPage()">
				<md-icon md-svg-icon="iconPageNext" aria-label=""></md-icon>
			</md-button>
		</div>

		<div layout="row">
			<span class="formFieldLabel">Filter inside results in this page:</span>
			<input ng-model="autofilter" />
		</div>

		<md-content class="md-padding" layout="column">
			<md-card ng-repeat="account in $ctrl.model.Accounts | filter:autofilter | orderBy:$ctrl.orderBy:$ctrl.reverseOrder"
					 class="searchResultCard" layout="row">

				<div class="searchResultCardActionPanel" layout="column" layout-align="center center">
					<md-button class="md-icon-button" aria-label="Visualize" ng-href="#!/account/{{account.AutoId}}">
						<md-icon md-svg-icon="iconExpand"></md-icon>
					</md-button>
				</div>

				<div layout="column">
					<md-card-title>
						<md-card-title-text>
							<span class="md-headline">
								<!--<md-icon md-svg-icon="icon..."></md-icon>-->
								{{account.Structure}} - {{account.Description}}
							</span>
						</md-card-title-text>
					</md-card-title>
					<md-card-content layout="row">
					</md-card-content>
				</div>
			</md-card>
		</md-content>

	</div>

</div>