<div class="container h-100" style="min-height:640px">
    <div class="row h-100">
        <div class="col w-100">
          <ngx-charts-bar-vertical-2d
            [scheme]="colorScheme"
            [results]="test"
            [gradient]="false"
            [xAxis]="true"
            [yAxis]="true"
            [legend]="true"
            [showGridLines]="false"
            [showXAxisLabel]="true"
            [showYAxisLabel]="true"
            xAxisLabel="Account"
            yAxisLabel="Value"
            [barPadding]="8"
            [groupPadding]="16">
          </ngx-charts-bar-vertical-2d>
    <!-- [view]="[700,400]" -->
    <!-- (select)="onSelect($event)"> -->
    <!-- https://swimlane.gitbooks.io/ngx-charts/content/charts/bar-vertical-2d.html -->
    </div>
  </div>
</div>