<div class="container">
  <div class="fin-title">Portal</div>

  <div class="row align-items-center">

    <div class="col-md-2">
      <div class="thumbnail bg-success">
        <a routerLink="/entries-list" routerLinkActive="active">
          <img src="assets/entries_24px.svg" title="Entries" style="width:100%">
          <div class="caption">
            <p align="center">Entries</p>
          </div>
        </a>
      </div>
    </div>

    <div class="col-md-2">
      <div class="thumbnail bg-warning">
        <a routerLink="/importing" routerLinkActive="active">
          <img src="assets/importing_24px.svg" title="Importing" style="width:100%">
          <div class="caption">
            <p align="center">Importing</p>
          </div>
        </a>
      </div>
    </div>

    <div class="col-md-2">
      <div class="thumbnail bg-danger">
        <a routerLink="/accounts-totalizations-report" routerLinkActive="active">
          <img src="assets/accounts-totalizations-report_24px.svg" title="Accounts Totalizations Report" style="width:100%">
          <div class="caption">
            <p align="center">Accounts Totalizations Report</p>
          </div>
        </a>
      </div>
    </div>

  </div>

  <div class="row align-items-center">

    <div class="col-md-2">
      <div class="thumbnail bg-warning">
        <a routerLink="/accounts-list" routerLinkActive="active">
          <img src="assets/accounts_24px.svg" title="Accounts" style="width:100%">
          <div class="caption">
            <p align="center">Accounts</p>
          </div>
        </a>
      </div>
    </div>

    <div class="col-md-2">
      <div class="thumbnail bg-danger">
        <a routerLink="/results-centers-list" routerLinkActive="active">
          <img src="assets/results-centers_24px.svg" title="Result Center" style="width:100%">
          <div class="caption">
            <p align="center">Results Centers</p>
          </div>
        </a>
      </div>
    </div>

    <div class="col-md-2">
      <div class="thumbnail bg-success">
        <a routerLink="/memos-mappings-list" routerLinkActive="active">
          <img src="assets/memos-mappings_24px.svg" title="Memo Mapping" style="width:100%">
          <div class="caption">
            <p align="center">Memos Mappings</p>
          </div>
        </a>
      </div>
    </div>

    <div class="col-md-2">
      <div class="thumbnail bg-success">
        <a routerLink="/entries-templates-list" routerLinkActive="active">
          <img src="assets/entries-templates_24px.svg" title="Entry Template" style="width:100%">
          <div class="caption">
            <p align="center">Entries Templates</p>
          </div>
        </a>
      </div>
    </div>
  </div>


</div>
