<div>
	<div class="formTitle">Import Entries</div>

	<!--<form enctype="multipart/form-data" action="{{$ctrl.model.URL}}" method="post">-->
	<form>
		<md-input-container class="md-block" md-no-float>
			<label>File</label>
			<input id="fieldFilePath" type="file" />
			<div ng-messages="thisForm.fieldFilePath.$error">
				<div ng-message="required">This is required!</div>
			</div>
		</md-input-container>

		<div ng-show="$ctrl.model.Processed">
			<div layout="column">
				<div ng-show="$ctrl.model.Success">success</div>
				<div ng-show="!$ctrl.model.Success">failure</div>
				<div ng-repeat="entry in $ctrl.model.Details" layout="row">
				</div>
			</div>
		</div>

		<div layout="row">
			<!--<input type="submit"/>-->
			<md-button ng-click="$ctrl.import()"><md-icon md-svg-icon="iconSave" md-menu-align-target></md-icon>Import</md-button>
		</div>

	</form>

</div>