<div>
	<div class="formTitle">Entries Board</div>

	<!-- comandos para addNewCard closeCard closeAll saveAll -->
	<div layout="row">
		<md-button ng-href="#!/entries">
			<md-icon md-svg-icon="iconSearch"></md-icon>
			Search
		</md-button>

		<md-button ng-click="$ctrl.addNewCard()">
			<md-icon md-svg-icon="iconNew"></md-icon>
			Add New
		</md-button>

		<md-button ng-click="$ctrl.saveAll()">
			<md-icon md-svg-icon="iconSave"></md-icon>
			Save All
		</md-button>

		<md-button ng-click="$ctrl.closeAll()">
			<md-icon md-svg-icon="iconClose"></md-icon>
			Close All
		</md-button>

	</div>

	<div>
		<div ng-repeat="entry in entriesOnBoard track by $index" class="entriesBoardSlot">
			<entry-card ng-model="entry" 
						onclosecard="$ctrl.closeCard" 
						onduplicatecard="$ctrl.add" />
		</div>
		<div class="entriesBoardSlot">
			<span>Templates:</span>
			<div ng-repeat="t in templates track by $index">
				<md-button class="md-raised"
						   ng-click="$ctrl.addNewCardUsingTemplate(t)">(+) {{t.Title}}</md-button>
			</div>
		</div>
</div>