<div class="row">

  <div *ngIf="isLoggedIn">
    <div class="col">
      <div ngbDropdown class="d-inline-block">
        <button class="btn btn-primary" id="menu" ngbDropdownToggle>Olá, {{userName}}!</button>
        <div ngbDropdownMenu aria-labelledby="menu">
          <a class="dropdown-item" routerLink="portal" routerLinkActive="active">Portal</a>
          <a class="dropdown-item" routerLink="change-password" routerLinkActive="active">Alterar Minha Senha</a>
          <button class="dropdown-item" (click)="doLogout()">Logout</button>
        </div>
      </div>
    </div>
  </div>

  <div *ngIf="!isLoggedIn">
    <span>Faça o login.</span>
    <a routerLink="login" routerLinkActive="active">login</a>
  </div>

</div>
