<div class="row">

  <div *ngIf="isLoggedIn">
    <div class="col">
      <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" id="menu" data-toggle="dropdown">Olá, {{userName}}!</button>
        <div class="dropdown-menu">
          <a class="dropdown-item" routerLink="portal" routerLinkActive="active">Portal</a>
          <a class="dropdown-item" routerLink="change-password" routerLinkActive="active">Alterar Minha Senha</a>
          <button class="dropdown-item" (click)="doLogout()">Logout</button>
        </div>
      </div>
    </div>
  </div>

  <div *ngIf="!isLoggedIn">
    <span>Faça o login.</span>
    <a routerLink="login" routerLinkActive="active">login</a>
  </div>

</div>
